
<head>
    <title>Salesmen Template</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
</head>

<body>
    <div class="testbox">
        <form class="all">
            <h1>Customers Information</h1>

            <div class="item">
                <table>
                    <div class="name-item">
                        <tr>
                            <th>
                                <p>Customer Code:</p>
                                <input type="text" name="name" required placeholder=" Code:" class="da" />
                            </th>

                            <th>
                                <p>Arabic Name:</p>

                                <input type="text" name="name" required placeholder="Name:" required class="da" />
                            </th>
                            <th>
                                <p>English Name:</p>
                                <input type="text" name="name" required placeholder=" Name:" required class="da" />
                            </th>

                            <th>
                                <p>Email_address:</p>
                                <input type="number" name="name" required placeholder="" class="da" />
                            </th>
                            <th>

                                <form class=n>

                                    <label for="Scale"></label>
                                    <p> state</p>
                                    <select id="Scale" name="cars">
                                        <option value="Scale1">Active</option>
                                        <option value="Scale2">Locked</option>
                                    </select>

                                </form>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <p>Responsible:</p>
                                <input type="number" name="name" required placeholder="Number:" class="da" />
                            </th>

                            <th>
                                <p>Salesmen:</p>
                                <input type="text" name="name" required placeholder="Code:" class="da" />
                            </th>

                            <th>
                                <p>org. Salesmen:</p>
                                <input type="number" name="name" required placeholder="number:" class="da" />
                            </th>
                            <th>
                                <p>Sales Supervisor:</p>
                                <input type="number" name="name" required placeholder="number:" class="b" />
                            </th>

                            <th>
                                <p class="e">Customer Symbol:</p>
                                <input type="number" name="name" required placeholder="number:" class="c" />
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <p>Cr Free Sales Bal:</p>
                                <input type="number" name="name" required placeholder="%:" class="da" />
                            </th>

                            <th>
                                <p>Sales Start Date:</p>
                                <input type="number" name="name" required placeholder="number:" class="da" />
                            </th>
                            <th>
                                <p>Group:</p>
                                <input type="number" name="name" required placeholder="number:" class="da" />
                            </th>

                            <th>
                                <p class="e">Cr Free Sales Bal:</p>
                                <input type="text" name="name" required />
                            </th>
                            <th>
                                <p class="e">Sales Start Date:</p>
                                <input type="text" name="name" required />
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <p>GL Branch:</p>
                                <input type="number" name="name" required placeholder="%:" class="da" />
                            </th>

                            <th>
                                <p>Stock Branch:</p>
                                <input type="number" name="name" required placeholder="number:" class="da" />
                            </th>
                            <th>
                                <p>Sales Cnt/LMac:</p>
                                <input type="number" name="name" required placeholder="number:" class="da" />
                            </th>

                            <th>
                                <p class="e">Sales Cnt/I.Mac:</p>
                                <input type="text" name="name" required />
                            </th>
                            <th>
                                <p class="e">Sales Amt/IMa: </p>
                                <input type="text" name="name" required />
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <p>Activity:</p>
                                <input type="number" name="name" required placeholder="number:" class="da" />
                            </th>

                            <th>
                                <p>Customer Category:</p>
                                <input type="number" name="name" required placeholder="number:" class="da" />
                            </th>

                            <th>
                                <p>Status:</p>
                                <input type="number" name="name" required placeholder="number:" class="da" />
                            </th>

                            <th>
                                <p>Status Date:</p>
                                <input type="number" name="name" required placeholder="number:" class="da" />
                            </th>
                            <th>
                                <form class="n">
                                    <input type="radio" id="male" name="gender" value="male">
                                    <label for="male">Cash</label><br>
                                    <input type="radio" id="female" name="gender" value="female">
                                    <label for="female">Female</label><br>
                                </form>
                            </th>

                        </tr>


                        <hr style="border: solid; color: #d6e8e9c0; width: 100%; height:50%" />

                        <br>
                        <br>
                        <br>
                        <tr>
                            <th>
                                <p>Tel/Ext:</p>
                                <input type="text" name="name" required class="da" />
                            </th>
                            <th>
                                <p>Address:</p>
                                <input type="text" name="name" required class="da" />
                            </th>
                            <th>
                                <p>Customer Street:</p>
                                <input type="text" name="name" required class="da" />
                            </th>


                            <th>
                                <p>VAT No:</p>
                                <input type="text" name="name" required class="da" />
                            </th>
                            <th>
                                <p>Identification Type</p>

                                <input type="text" name="name" required class="da" />
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <p>Compound:</p>
                                <input type="text" name="name" required class="da" />
                            </th>

                            <th>
                                <p>Building Number:</p>
                                <input type="text" name="name" required class="da" />
                            </th>

                            <th>
                                <p>Group VAT No:</p>
                                <input type="text" name="name" required class="da" />
                            </th>
                            <th>
                                <p>Id No:</p>
                                <input type="text" name="name" required class="da" />
                            </th>
                            <th>
                                <p>Special No:</p>
                                <input type="text" name="name" required class="da" />
                            </th>
                        </tr>

                        <tr>
                            <th>
                                <p>Fax/Ext:</p>
                                <input type="text" name="name" required class="da" />
                            </th>
                            <th>
                                <p>City:</p>
                                <input type="text" name="name" required class="da" />
                            </th>
                            <th>
                                <p>District:</p>
                                <input type="text" name="name" required />
                            </th>

                            <th>
                                <p>District Name:</p>
                                <input type="text" name="name" required class="da" />
                            </th>
                            <th>
                                <form class="n">
                                    <br>
                                    <input type="radio" id="male" name="gender" value="male">
                                    <label for="male">VAT taxable</label>

                                </form>
                            </th>

                        </tr>
                        <tr>


                    </div>
                </table>
            </div>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <h3>Invoice language</h3>
                        <input type="radio" id="male" name="gender" value="male">
                        <label for="male">System Lang</label><br>
                        <input type="radio" id="female" name="gender" value="female">
                        <label for="female">Arabic</label><br>
                        <input type="radio" id="other" name="gender" value="other">
                        <label for="other">English</label>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <h3>E-commerce business</h3>
                        <input type="radio" id="male" name="gender" value="male">
                        <label for="male">B2B</label><br>
                        <input type="radio" id="female" name="gender" value="female">
                        <label for="female">B2C </label><br>
                        <input type="radio" id="other" name="gender" value="other">
                        <label for="other">Export</label>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <input type="radio" id="male" name="gender" value="male">
                        <label for="male">Normal</label><br>
                        <input type="radio" id="female" name="gender" value="female">
                        <label for="female">Loyality Cards </label><br>
                        <input type="radio" id="other" name="gender" value="other">
                        <label for="other">Credit Cards Account</label>
                        <input type="radio" id="female" name="gender" value="female">
                        <label for="female">Exchange Invoice Acc </label><br>
                        <input type="radio" id="other" name="gender" value="other">
                        <label for="other">Prepaid Account</label>
                    </div>
                </div>


            </div>


            <table>
                <tr>
                    <th>
                        <p>Disc. Percent %:</p>
                        <input type="text" name="name" required class="da" />
                    </th>
                    <th>
                        <p>Extra Discount %:</p>
                        <input type="text" name="name" required class="da" />
                    </th>
                    <th>
                        <p>Cash per %:</p>
                        <input type="text" name="name" required />
                    </th>

                    <th>
                        <p>Credit Limit:</p>
                        <input type="text" name="name" required class="da" />
                    </th>
                    <th>


                        <p>Account Code:</p>
                        <input type="text" name="name" required class="da" />
                </tr>

                <tr>
                    <th>
                        <p>Sales Account:</p>
                        <input type="text" name="name" required class="da" />
                    </th>
                    <th>
                        <p>Sales Cost %:</p>
                        <input type="text" name="name" required class="da" />
                    </th>
                    <th>
                        <p>If Annual Sales>:</p>
                        <input type="text" name="name" required />
                    </th>

                    <th>
                        <p>Comm Collection %:</p>
                        <input type="text" name="name" required class="da" />
                    </th>
                    <th>

                        <p>Limit Period:</p>
                        <input type="text" name="name" required class="da" />
                </tr>
            </table>

        </form>
    </div>


</body>