html, body {
    min-height: 100%;
    background-color: #d6e8e9c0;
  
    }
    body, div, form, input, select {
    padding: 0;
    margin: 2%;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    }
     h4 {
    margin: 15px 0 4px;
    font-weight: 400;
    }
    h4 {
    margin: 20px 0 4px;
    font-weight: 400;
    }
    span {
    color: red;
    }
    .small {
    font-size: 10px;
    line-height: 18px;
    }
    .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 70px;
    padding-bottom: 50px;
    padding-top: 40px;
    }
    form {
    width:120%;
  
    background: #fff;
    box-shadow: 0 2px 5px #ccc;
    }
    input {
    width: 160px;
        padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
    }
    input:hover, textarea:hover, select:hover {
    outline: none;
    border: 1px solid #095484;
    background: #e6eef7;
    }
    .title-block select, .title-block input {
    margin-bottom: 10px;
    }
  
    select {
  
    border-radius: 3px;
    border: 1px solid #ccc;
    background: transparent;
  
    }
    select, table {
        width: 160px;
    }
    option {
    background: #fff;
  
    }
    .day-visited, .time-visited {
    position: relative;
    }
    input[type="date"]::-webkit-inner-spin-button {
    display: none;
    }
    input[type="time"]::-webkit-inner-spin-button {
    margin: 2px 22px 0 0;
  
    }
    .day-visited i, .time-visited i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 8px;
    font-size: 20px;
    }
    .day-visited i, .time-visited i {
    right: 5px;
    z-index: 1;
    color: #a9a9a9;
    }
    [type="date"]::-webkit-calendar-picker-indicator {
    right: 0;
    z-index: 2;
    opacity: 0;
    }
    .question-answer label {
    display: block;
    padding: 0 20px 10px 0;
    }
    .question-answer input {
    width: 160px;
    margin-top: -2px;
    }
    th, td {
        width: 160px;
    text-align: center;
    vertical-align: unset;
    line-height: 18px;
    font-weight: 400;
    word-break: break-all;
    padding-right: 2%;
  
  
    }
    .first-col {
    width: 25%;
    text-align: left;
    }
    textarea {
    width: calc(100% - 2px);
    padding:5px;
  
    }
    .btn-block {
  
    text-align: center;
  
  
    }
    button {
    width: 100px;
    height: 35px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #095484;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
  
    }
    button:hover {
    background-color: #0666a3;
    }
    @media (min-width: 568px) {
    .title-block {
    display: flex;
    justify-content: space-between;
    }
    .title-block select {
    width: 160px;
    margin-bottom: 0;
    }
    .title-block input {
    width: 160px;
    margin-bottom: 0;
    }
    th, td {
    word-break: keep-all;
    }
    }
  .all{
    width:100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px #ccc;
  }
  .b{
    width:50%;
    margin-left: 20px;
  }
  .c{
    width:50%;
    margin-left: -100px;
  }
  
  .e{
    margin-left: -10px;
  }
  .n{
    width: inherit;
    height: inherit;
    margin: inherit;
    margin: inherit;
  }
  h1{
    text-align: center;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  .lined {
    border-top: 1px solid #333;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
  }