html, body {
    min-height: 100%;
    }
    body, div, form, input, select { 
    padding: 0;
    margin: 0;
    outline: none;
    line-height: 22px;
    }
    h1 {
    font-weight: 400;
    }
    h4 {
    margin: 20px 0 4px;
    font-weight: 400;
    }
    span {
    color: red;
    }
    .small {
    font-size: 10px;
    line-height: 18px;
    }
    .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
 width: 900px;
 padding-left: 5%;
    }
    form {
        background-color: #d6e8e9c0;

    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 5px #ccc; 

    }
    input {
    width: 160px;
        padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
    }
    input:hover, textarea:hover, select:hover {
    outline: none;
    border: 1px solid #095484;
    background: #e6eef7;
    }
    .title-block select, .title-block input {
    margin-bottom: 10px;
    }
    .ragh{
        margin-bottom: 10px;
   
    }
    select {
    padding: 7px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: transparent;

    }
    select, table {
        width: 160px;
    }
    option {
    background: #fff;
    }
    .day-visited, .time-visited {
    position: relative;
    }
    input[type="date"]::-webkit-inner-spin-button {
    display: none;
    }
    input[type="time"]::-webkit-inner-spin-button {
    margin: 2px 22px 0 0;
    
    }
    .day-visited i, .time-visited i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 8px;
    font-size: 20px;
    }
    .day-visited i, .time-visited i {
    right: 5px;
    z-index: 1;
    color: #a9a9a9;
    }
    [type="date"]::-webkit-calendar-picker-indicator {
    right: 0;
    z-index: 2;
    opacity: 0;
    }
    .question-answer label {
    display: block;
    padding: 0 20px 10px 0;
    }
    .question-answer input {
    width: 160px;
    margin-top: -2px;
    }
    th, td {
        width: 160px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    vertical-align: unset;
    line-height: 18px;
    font-weight: 400;
    word-break: break-all;
    padding-right: 2%;

    }
    .first-col {
    width: 25%;
    text-align: left;
    }
    textarea {
    width: calc(100% - 2px);
    padding:5px;

    }
    .btn-block {
    margin-top: 20px;
    text-align: center;
    

    }
    button {
    width: 100px;
    height: 35px;
    margin-left: 2%;
    margin-right: 2%;
    border: none;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    background-color: #095484;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    
    }
    button:hover {
    background-color: #0666a3;
    }
    @media (min-width: 568px) {
    .title-block {
    display: flex;
    justify-content: space-between;
    }
    .title-block select {
    width: 160px;
    margin-bottom: 0;
    }
    .title-block input {
    width: 160px;
    margin-bottom: 0;
    }
    th, td {
    word-break: keep-all;
    }

    .inline-div {
    display:inline-block;
    padding-right: 2%;

}
.inline-txtarea {
width:160px;
}
    }
    .mid{
        width: 80%;
margin-right: 60px; }

