
  <link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/><html>


<body>
    <h1 align="center">Credit Sales</h1>

    <div class="testbox">
        <form action="/">

            <div class="inline-div">
                <p>Invoice No. </p>
                <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />
            </div>
            <div class="inline-div">
                <p>Payment</p>
                <select cols="15" rows="15" class="inline-txtarea">
                    <option value=""></option>
                    <option value="">Enquiry</option>
                    <option value="2">Complaint</option>

                </select>
            </div>
            <div class="inline-div">
                <p>Price</p>
                <select cols="15" rows="15" class="inline-txtarea">
                    <option value=""></option>
                    <option value="">Whole</option>
                    <option value="2">Retail</option>
                    <option value="3">Special</option>
                </select>
            </div>

            <div class="inline-div">
                <p>Date </p>
                <input cols="15" rows="15" class="inline-txtarea" type="datetime-local" placeholder="Access duration"
                    name="date" value="2020-11-16T20:00">

            </div>

            <div class="inline-div">
                <p>Due Date </p>
                <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />
            </div>
            <button class=ragh type="submit" href="/">Dues</button>


            <div class="inline-div">
                <p>Job order </p>
                <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />
            </div>


            <button class=ragh type="submit" href="/">Retrieve</button>
            <br>
            <div class="inline-div">
                <p>Cust. Code</p>
                <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" placeholder=" " />
            </div>

            <button type="submit" href="/">Balance</button>
            <button type="submit" href="/">Pic1</button>
            <button type="submit" href="/">Pic2</button>
            <br>
            <div class="inline-div">
                <p>R. Cons</p>
                <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />
            </div>
            <button type="submit" href="/">Retrieve</button>

            <div class="inline-div">
                <p>Cust Vat No </p>
                <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />
                <label><input type="checkbox" name="name" /> %</label>

            </div>

            <br>
            <div class="inline-div">
                <p>City</p>
                <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />

            </div>
            <div class="inline-div">
                <p>Salesman</p>
                <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />

            </div>
            <div class="inline-div">
                <p>Driver</p>
                <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />

            </div>
            <div class="inline-div">
                <p>Vat Class</p>
                <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />

            </div>
            <br>
            <div class="inline-div">
                <p>Sales order No</p>
                <input cols="15" rows="15" class="inline-txtarea" class="name" type="text" name="name"
                    placeholder=" " />
            </div>
            <button type="submit" href="/">Retrieve</button>

            <div class="inline-div">
                <p>Quatation No.</p>
                <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />

            </div>
            <button type="submit" href="/">Retrieve Date</button>

            <div class="inline-div">
                <p>Main CC</p>
                <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />

            </div>
            <div class="inline-div">
                <p>Similar to</p>
                <select>
                    <option value=""></option>
                    <option value="">Purchase Inv</option>
                    <option value="2">Sales Inv</option>
                    <option value="3">Proforma Inv</option>
                    <option value="4">Items Request</option>
                    <option value="5">Recieving form</option>
                    <option value="6">Return Sales</option>
                    <option value="7">Actual Reservation</option>

                </select>
            </div>
            <div class="inline-div">

                <input type="text" name="name" />
            </div>


            <button type="submit" href="/">Retrieve</button>

            <div class="inline-div">
                <p>Manual Inv.</p>
                <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />

            </div>
            <div class="inline-div">
                <p>Mrk Offer</p>
                <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />

            </div>
            <div class="inline-div">

                <p>Remarks</p>
                <input type="text" name="name" />
                <input type="text" name="name" />
            </div>
            <button type="submit" href="/">Cust price</button>

            <div class="inline-div">
                <p>Customer Order</p>
                <input type="text" name="name" />
            </div>

            <button type="submit" href="/">Multi It. Select</button>


   <br>
   <br>
   <br>
        <div>
  
          <table>
            <tr>
              <th> Ser</th>
              <th>Description</th>
              <th> </th>
              <th>Unit</th>
              <th>Rate</th>
              <th>Expiry</th>
              <th>QTY</th>
              <th>Bon</th>
              <th>Price</th>
              <th>Discount</th>
              <th>Amount</th>
              <th>VAT%</th>
            </tr>
          
              <tr>
                <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
                <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
                <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
                <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
                <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
                <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
                <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
                <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
                <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
                <td><input class="mid" id="wednesday" type="number" name="name" /> </td>
                <td><input class="mid" id="wednesday" type="text" name="name" /></td>
                <td><input class="mid" id="wednesday" type="text" name="name" /></td>
              </tr>
            <tr>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="number" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /></td>
              <td><input class="mid" id="wednesday" type="text" name="name" /></td>
            </tr>
            <tr>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="number" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /></td>
              <td><input class="mid" id="wednesday" type="text" name="name" /></td>
            </tr>
            <tr>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="number" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /></td>
              <td><input class="mid" id="wednesday" type="text" name="name" /></td>
            </tr>
            <tr>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="number" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /></td>
              <td><input class="mid" id="wednesday" type="text" name="name" /></td>
            </tr>
            <tr>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="number" name="name" /> </td>
              <td><input class="mid" id="wednesday" type="text" name="name" /></td>
              <td><input class="mid" id="wednesday" type="text" name="name" /></td>
            </tr>
         
    
          </table>
        </div>
        <p class="question"> </p>
        <div class="question-answer">
          <label>Total Weight <input id="wednesday" type="text" name="name" /></label>
        </div>
  
      </form>
    </div>
  </body>
</html>