
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous"
  />

<body>
  <div class="testbox">
    <form class="all">
      <h1>Items</h1>

      <div class="item">
        <table>
          <div class="name-item">
            <tr>
              <th>
                <p>Item Code:</p>
                <input
                  type="text"
                  name="name"
                  required
                  placeholder=" Code:"
                  class="da"
                />
              </th>

              <th>
                <p>Arabic Name:</p>

                <input
                  type="text"
                  name="name"
                  required
                  placeholder="Name:"
                  required
                  class="da"
                />
              </th>
              <th>
                <p>English Name:</p>
                <input
                  type="text"
                  name="name"
                  required
                  placeholder=" Name:"
                  required
                  class="da"
                />
              </th>

              <th>
                <p>Item Category:</p>
                <input
                  type="number"
                  name="name"
                  required
                  placeholder=""
                  class="da"
                />
              </th>
            </tr>
            <tr>
              <th>
                <p>Supplier Code:</p>
                <input
                  type="number"
                  name="name"
                  required
                  placeholder="Number:"
                  class="da"
                />
              </th>

              <th>
                <p>Manufacturer</p>
                <input
                  type="text"
                  name="name"
                  required
                  placeholder="Code:"
                  class="da"
                />
              </th>

              <th>
                <p>Arabic Unit:</p>
                <input
                  type="number"
                  name="name"
                  required
                  placeholder="number:"
                  class="da"
                />
              </th>
              <th>
                <p>Capacity:</p>
                <input
                  type="number"
                  name="name"
                  required
                  placeholder="number:"
                  class="b"
                />
              </th>

              <th>
                <p class="e">Weight:</p>
                <input
                  type="number"
                  name="name"
                  required
                  placeholder="number:"
                  class="c"
                />
              </th>
            </tr>
            <tr>
              <th>
                <p>Latin Unit:</p>
                <input
                  type="number"
                  name="name"
                  required
                  placeholder="%:"
                  class="da"
                />
              </th>

              <th>
                <p>Capacity:</p>
                <input
                  type="number"
                  name="name"
                  required
                  placeholder="number:"
                  class="da"
                />
              </th>
              <th>
                <p>Net Weight:</p>
                <input
                  type="number"
                  name="name"
                  required
                  placeholder="number:"
                  class="da"
                />
              </th>

              <th>
                <p class="e">Classification:</p>
                <input type="text" name="name" required  />
              </th>
              <th>
                <p class="e">Supplier Item Code:</p>
                <input type="text" name="name" required  />
              </th>
            </tr>
            <tr>


              <th>
                <p>VAT:</p>
                <form class=n>
                  <input type="radio" id="v1" name="vat" value="vat " />
                  <label for="v1">Exempted</label><br />
                  <input type="radio" id="v2" name="vat" value="vat"  />
                  <label for="v2">Vat</label><br />
                  <input type="radio" id="v3" name="vat" value="vat"  />
                  <label for="v3">Zero Vat</label>
                </form>
              </th>

              <th>
                <p>Item Type:</p>
                <form class=n>
                  <input type="radio" id="e1" name="vat" value="vat" />
                  <label for="e1">Normal</label><br />
                  <input type="radio" id="e2" name="vat" value="vat" />
                  <label for="e2">Service/Sectior</label>
                </form>
              </th>

              <th>
                <p>Description:</p>
                <form class=n>
                  <input type="radio" id="e1" name="vat" value="vat" />
                  <label for="e1">Fixed</label><br />
                  <input type="radio" id="e2" name="vat" value="vat" />
                  <label for="e2">Changable</label>
                </form>
              </th>

              <th>
                <p>Expiry:</p>
                <form class=n>
                  <input type="radio" id="e1" name="vat" value="vat" />
                  <label for="e1">Expiry</label><br />
                  <input type="radio" id="e2" name="vat" value="vat" />
                  <label for="e2">Without Expiry</label>
                </form>
              </th>

              <th>
                <br>
                <br>
                <form class=n>

                  <input type="radio" id="a1" name="a" value="a" />
                  <label  for="a1">G</label><br />
                  <input type="radio" id="a2" name="a" value="a" />
                  <label  for="a2">H</label><br>
                  <input type="radio" id="a2" name="a" value="a" />
                  <label  for="a2">Any</label>
                </form>
              </th>
            </tr>
            <tr>

              <th>
                <p>First Cost Price:</p>
                <input type="text" name="name" required class="da" />
              </th>
              <th>
                <p>Last Cost:</p>
                <input type="text" name="name" required class="da" />
              </th>
              <th>
                <p>Purchase Price:</p>
                <input type="text" name="name" required class="da" />
              </th>


              <th>
                <p>Standard Cost Rate:</p>
                <input type="text" name="name" required class="da" />
              </th>
              <th>
                <p>W Scale</p>
                <form class=n>
                  <label for="Scale"></label>
                  <select id="Scale" name="cars">
                    <option value="Scale1">Scale Item(Amount/Price)</option>
                    <option value="Scale2">Not Scale Item</option>
                    <option value="Scale3">Scale Item(None W)</option>
                    <option value="Scale4">Scale Item(Qty)</option>
                  </select>
                  <input type="submit" />
                </form>
              </th>
            </tr>
            <tr>
              <th>
                <p>Profit Reference:</p>
                <input type="text" name="name" required class="da" />
              </th>

              <th>
                <p>Profit Ref. Whole:</p>
                <input type="text" name="name" required class="da" />
              </th>

              <th>
                <p>Profit Ref. Special:</p>
                <input type="text" name="name" required class="da" />
              </th>


              <th>
                <p>Profit Rate:</p>
                <input type="text" name="name" required class="da" />
              </th>
              <th>
                <p>Standard Cost:</p>
                <input type="text" name="name" required class="da" />
              </th>
            </tr>
            <tr>
              <th>
                <p>Retail Sale prc:</p>
                <input type="text" name="name" required class="da" />
              </th>
              <th>
                <p>Whole Sale:</p>
                <input type="text" name="name" required class="da" />
              </th>
              <th>
                <p>Special Sale:</p>
                <input type="text" name="name" required />
              </th>

              <th>
                <p>Last Cost:</p>
                <input type="text" name="name" required class="da" />
              </th>
              <th>

                <br />
                <br />

                <button class="button button2">Calculate Sale Price</button>
              </th>
</tr>
<tr>
              <th>
                <p>Retail Sale prc with VAT:</p>
                <input type="text" name="name" required class="da" />
              </th>
              <th>
                <p>Whl.Sale with VAT:</p>
                <input type="text" name="name" required class="da" />
              </th>

              <th>
                <p>Spl Sale with VAT:</p>
                <input type="text" name="name" required class="da" />
              </th>
              <th>
                <br />
                <br />

                <button class="button button2">Clients Groups Prices</button>
              </th>
              <th>
                <p>Avg Cost:</p>
                <input type="text" name="name" required class="da" />
              </th>
            </tr>
            <tr>
              <th>
                <p>Discount Amount:</p>
                <input type="text" name="name" required class="da" />
              </th>

              <th>
                <p>Earned Disc %:</p>
                <input type="text" name="name" required class="da" />
              </th>

              <th>
                <p>Purchase Target %:</p>
                <input type="text" name="name" required class="da" />
              </th>
              <th>
                <p>Max Unit:</p>
                <input type="number" name="name" required class="da" />
              </th>

              <th>
                <p>Bonus Sales %:</p>
                <input type="text" name="name" required class="da" />
              </th>
            </tr>
            <tr>
              <th>
                <p>G. Profit Rate:</p>
                <input type="number" name="name" required class="da" />
              </th>

              <th>
                <p>Brn Bal:</p>
                <input type="number" name="name" required class="da" />
              </th>

              <th>
                <p>Lower Limit Qty:</p>
                <input type="number" name="name" required class="da" />
              </th>

              <th>
                <p>Order Limit:</p>
                <input type="number" name="name" required class="da" />
              </th>

              <th>
                <p>Upper Limit:</p>
                <input type="number" name="name" required class="da" />
              </th>
            </tr>
            <tr>
              <th>

                <p>Tot Balance:</p>
                <input type="number" name="name" required class="da" />
              </th>

              <th>
                <p>No.of Points:</p>
                <input type="number" name="name" required class="da" />
              </th>
              <th>
                <p>Current POS Sales:</p>
                <input type="number" name="name" required class="da" />
              </th>

              <th>
                <p>Pending Orders:</p>
                <input type="number" name="name" required class="da" />
              </th>

              <th>
                <p>Main Item:</p>
                <input type="text" name="name" required class="da" />
              </th>
            </tr>
            <tr>
              <th>
                <p>Sup Consignments:</p>
                <input type="number" name="name" required class="da" />
              </th>

              <th>
                <p>Other Rep Unit A:</p>
                <input type="text" name="name" required class="da" />
              </th>


              <th>
                <p>Other Rep Unit E:</p>
                <input type="text" name="name" required class="da" />
              </th>

              <th>
                <p>Other Unit Rate:</p>
                <input type="text" name="name" required class="da" />
              </th>
              <th>
                <p>Cons. with Clients:</p>
                <input type="text" name="name" required class="da" />
              </th>

            </tr>
            <tr>
              <th>
                <p>Customs Percentage %:</p>
                <input type="text" name="name" required class="da" />
              </th>
              <th>
                <label
                  ><input type="checkbox" name="name" required class="da" />
                  <span>Discontinuity</span></label
                >
              </th>
              <th>
                <label
                  ><input type="checkbox" name="name" required class="da" />
                  <span>Locked</span></label
                >
              </th>
              <th>
                <label
                  ><input type="checkbox" name="name" required class="da" />
                  <span>Finish Forever</span></label
                >
              </th>
              <th>
                <label
                  ><input type="checkbox" name="name" required class="da" />
                  <span>Transfarable</span></label
                >
              </th>
              <th>
                <label
                  ><input type="checkbox" name="name" required class="da" />
                  <span>Promotional</span></label
                >
              </th>
            </tr>

          </div>
        </table>
      </div>
    </form>
  </div>
</body>