
<body>




    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <form action="/action_page.php" target="_blank">
                <p> <label>Required </label><input class="ra w3-input w3-padding-16 w3-border" type="text" placeholder="Required" >
                    <label>Paid </label><input class="ra w3-input w3-padding-16 w3-border" type="text" placeholder="Paid" >
                    <label>Change </label><input class="ra w3-input w3-padding-16 w3-border" type="text" placeholder="Change"></p>

                </form>

                <h3>Inv NO</h3>
                <form action="/action_page.php" target="_blank">
                    <p> <input class="w3-input w3-padding-16 w3-border" type="text" placeholder="9 number" required
                            name="Item Name"></p>
                </form>

            </div>

            <div class="card">
                <p>Customer Information insert:</p>
                <form action="/action_page.php" target="_blank">
                    <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Item Code" required
                        name="Item Code"></p>
                    <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Item Name" required
                            name="Item Name"></p>
                    <p><input class="w3-input w3-padding-16 w3-border" type="datetime-local"
                            placeholder="Access duration" name="date" value="2020-11-16T20:00"></p>
                    <p><input class="w3-input w3-padding-16 w3-border" type="number" placeholder="Qty" required
                            name="date"></p>
                    <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Price" required
                            name="Price"></p>
                    <p><button class="w3-button" type="submit">Submit</button></p>
                </form>
                <table class=fo>
                    <tr>
                        <th>Ser</th>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Access</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Disc</th>
                        <th>Amt</th>
                        <th>Unit</th>
                        <th>SP</th>
                        <th>1Item Code</th>
                        <th> </th>
                        <th> </th>
                        <th>Price after VAT</th>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>

                </table>
            </div>
            <div class="card">
                <form action="/action_page.php" s target="_blank">
                    <table>
                        <tr>
                            <th> </th>
                            <th> </th>
                        </tr>
                        <tr>
                            <td>Total </td>
                            <td> <input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Total "
                                    required name="Total: "></td>
                        </tr>
                        <tr>
                            <td>Amount: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Amount "></td>
                        </tr>
                        <tr>
                            <td> Disc1 %: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Disc1 % "
                                    required name="Disc1 %: "></td>
                        </tr>
                        <tr>
                            <td>Saleman: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Salesman"
                                    required name="Salesman: "></td>
                        </tr>
                        <tr>
                            <td>Unit: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Unit" required
                                    name="Unit: "></td>
                        </tr>
                        <tr>
                            <td>Remark: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Remarks: ">
                            </td>
                        </tr>
                        <tr>
                            <td><label>Customer: </label> </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="customer: ">
                            </td>
                        </tr>
                    </table>

                    <p><button class="w3-button" type="submit">Submit</button></p>
                </form>
            </div>

            <div class="card">
                <form action="/action_page.php" s target="_blank">
                    <table>
                        <tr>
                            <th> </th>
                            <th> </th>
                        </tr>
                        <tr>
                            <td>Cash: </td>
                            <td> <input class="w3-input w3-padding-16 w3-border" type="text" placeholder="cash "
                                    required name="Total: "></td>
                        </tr>
                        <tr>
                            <td>Credit: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="credit "></td>
                        </tr>
                        <tr>
                            <td> Cards: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="cards "
                                    required name="Disc1 %: "></td>
                        </tr>
                        <tr>
                            <td>Net: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="net" required
                                    name="Salesman: "></td>
                        </tr>
                        <tr>
                            <td>Net of VAT: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="net of VAT"
                                    required name="Unit: "></td>
                        </tr>
                    </table>

                    <p><button class="w3-button" type="submit">Submit</button></p>
                </form>
            </div>
            <div class="card">
                <form action="/action_page.php" s target="_blank">
                    <table>
                        <tr>
                            <th> </th>
                            <th> </th>
                        </tr>
                        <tr>
                            <td>Paid Currency </td>
                            <td> <input class="w3-input w3-padding-16 w3-border" type="text" placeholder="" ></td>
                               
                        </tr>
                        <tr>
                            <td> </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>  </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="" ></td>
                                   
                        </tr>
                        <tr>
                            <td> </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder=""  ></td>
                                  
                        </tr>
                    </table>

                    <p><button class="w3-button" type="submit">Submit</button></p>
                </form>
            </div>
        </div>



    </div>



</body>