<meta name="viewport" content="width=device-width, initial-scale=1" />


<link
rel="stylesheet"
href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
crossorigin="anonymous"
/>
<nav>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway"
  />
  <div class="subnav">
    <button class="subnavbtn">File<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#option">Relogin with another user </a> <br />
      <br />
      <a href="#option1">Parameters</a> <br />
      <br />
      <a href="#option2">Open Drawer</a> <br />
      <br />
      <a href="#option3">Printer setup</a> <br />
      <br />
      <a href="#option4">Exit</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Edit<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#option">Cut </a> <br />
      <br />
      <a href="#option">Copy</a> <br />
      <br />
      <a href="#option">Paste</a> <br />
      <br />
      <a href="#option">Toolbar</a> <br />
      <br />
      <a href="#option">Status Bar</a> <br />
      <br />
      <a href="#option">Change to Arabic</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Profile<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#option">Machines </a> <br />
      <br />
      <a href="#option">Periods</a> <br />
      <br />
      <a href="#option">Key Definition</a> <br />
      <br />
      <a href="#option">Expenses and Incomes Types</a> <br />
      <br />
      <a href="#option">Customer Que</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">
      Transactions<i class="fa fa-caret-down"></i>
    </button>
    <div class="subnav-content">
      <a href="#option" routerLink="/temp1">Sales Invoice </a> <br />
      <br />
      <a href="#option">Return Sales</a> <br />
      <br />
      <a href="#option">Resturn sales without invoice</a> <br />
      <br />
      <a href="#option">Updating Sales Invoce</a> <br />
      <br />
      <a href="#option">Updating Resturn Sales</a> <br />
      <br />
      <a href="#option">Attrndance</a> <br />
      <br />
      <a href="#option">Leave</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Journals<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#option">Sales Journals </a> <br />
      <br />
      <a href="#option">Return Sales Journals</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Posting<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#option">End of Period Closing </a> <br />
      <br />
      <a href="#option">End of Day Closing</a> <br />
      <br />
      <a href="#option">Post Attendances</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Reports<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#option">X-Report </a> <br />
      <br />
      <a href="#option">Printing Sales Receipt</a> <br />
      <br />
      <a href="#option">Printing Return Sales</a> <br />
      <br />
      <a href="#option">Query Items on branch</a> <br />
      <br />
      <a href="#option">Query Item(Unit)</a> <br />
      <br />
      <a href="#option">Check Unclosed Days/Periods</a> <br />
      <br />
      <a href="#option">Check Payments</a> <br />
      <br />
      <a href="#option">Customer Transaction</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">
      Maintenance<i class="fa fa-caret-down"></i>
    </button>
    <div class="subnav-content">
      <a href="#option">Groups </a> <br />
      <br />
      <a href="#option">Users</a> <br />
      <br />
      <a href="#option">Changing The Password</a> <br />
      <br />
      <a href="#option">Rebuilding Index</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Window<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#option">Cascade </a> <br />
      <br />
      <a href="#option">Title</a> <br />
      <br />
      <a href="#option">Arrange Icons</a> <br />
      <br />
      <a href="#option">Title Vertical</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Help<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content"><a href="#option">About </a></div>
  </div>
  <div class="subnav">
  <button class="w3-button_dania" (click)="useLanguage('en')">en</button>
<button class="w3-button_dania" (click)="useLanguage('de')">ar</button>
  </div>
  <br />
  <br />
</nav>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />

<body>
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <form action="/action_page.php" s target="_blank">
          <div *ngIf="showTab == 1" class="box1-content">
            <img
              class="img-responsive"
              src="assets/Alattar.jpg"
              width="100%"
              style="
                background-size: cover;
                background-color: rgba(255, 255, 255, 0.6);
                background-blend-mode: lighten;
              "
            />
          </div>
          <div *ngIf="showTab == 2" class="box1-content">
            <app-temp1></app-temp1>
          </div>
          <div *ngIf="showTab == 3" class="box2-content">
            <app-temp2></app-temp2>
          </div>
          <div *ngIf="showTab == 4" class="box3-content">
            <app-temp3></app-temp3>
          </div>
          <div *ngIf="showTab == 5" class="box4-content">
            <app-scrn1></app-scrn1>
          </div>
          <div *ngIf="showTab == 6" class="box5-content">
            <app-scrn2></app-scrn2>
          </div>
          <div *ngIf="showTab == 7" class="box5-content">
            <app-scrn3></app-scrn3>
          </div>
          <div *ngIf="showTab == 8" class="box5-content">
            <app-sales-inv></app-sales-inv>
          </div>
        </form>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <!-- skitfhaaaaaaaaffff-->
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Functions </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <mat-action-row>
                <p>
                  <button
                    onclick="document.getElementById('menu').style.display='block'"
                    class="w3-button_dania"
                    (click)="tabToggle(2)"
                  >
                    Temp1</button
                  ><br />
                  <button
                    onclick="document.getElementById('contact').style.display='block'"
                    class="w3-button_dania"
                    (click)="tabToggle(3)"
                  >
                    Temp2</button
                  ><br />
                  <button
                    onclick="document.getElementById('contact').style.display='block'"
                    class="w3-button_dania"
                    (click)="tabToggle(4)"
                  >
                    Temp3</button
                  ><br />
                  <button
                    onclick="document.getElementById('contact').style.display='block'"
                    class="w3-button_dania"
                    (click)="tabToggle(5)"
                  >
                    Scrn1</button
                  ><br />
                  <button
                    onclick="document.getElementById('contact').style.display='block'"
                    class="w3-button_dania"
                    (click)="tabToggle(6)"
                  >
                    Scrn2</button
                  ><br />
                  <button
                    onclick="document.getElementById('contact').style.display='block'"
                    class="w3-button_dania"
                    (click)="tabToggle(7)"
                  >
                    Scrn3</button
                  ><br />
                  <button
                    onclick="document.getElementById('contact').style.display='block'"
                    class="w3-button_dania"
                    (click)="tabToggle(8)"
                  >
                    invoice</button
                  ><br />
                </p>
              </mat-action-row>
            </mat-panel-description>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <div class="footer">
    <h2>Footer</h2>
  </div>
</body>
<div>
  <h1>{{ 'demo.title' | translate }}</h1>

  <!-- translation: translation pipe -->
  <p>{{ 'demo.text' | translate }}</p>

  <!-- translation: directive (key as attribute)-->
  <p [translate]="'demo.text'"></p>

  <!-- translation: directive (key as content of element) -->
  <p translate>demo.text</p>
</div>

