
    
  <link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>
    <h1 align="center">
  Items Categories </h1>
  <div class="testbox">
    <form action="/">

<section>

    <nav>
      <ul>
        <div class="inline-div">
            <p>Category Code
            </p>
            <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />
        
        </div>
        <div class="inline-div">
            <p>Category Level
            </p>
            <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />
        
        </div>
        <br>
        <div class="inline-div">
            <p>Arabic Name</p>
            <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />
        
        </div>
        <div class="inline-div">
            <p>English Name</p>
            <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />
        
        </div>
        <div class="inline-div">
            <p> Main Category</p>
            <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />
        
        </div>
        <div class="inline-div">
            <p> Earned Disc. %</p>
            <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />
        
        </div>
        <div class="inline-div">
            <p>  Allowed Disc. %</p>
            <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />
        
        </div>
        <div class="inline-div">
            <p> Est Profit Rate</p>
            <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />
        
        </div>
        <div class="inline-div">
            <p>Classification</p>
            <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />
        
        </div>
        <div class="inline-div">
            <p>Main Cost Center</p>
            <input cols="15" rows="15" class="inline-txtarea" type="text" name="name" />
        
        </div>
        <br>
        <br>

        <button class=ragh type="submit" href="/">Check Category coding</button>


        <br>
      </ul>
    </nav>
    <article>
        <textarea rows="10"></textarea>
<br>
<br>
        <button class=ragh type="submit" href="/">Refresh Tree</button>

    </article>
  </section>
</form>

  </div>
  

