
  <link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>
<html>
  <body>
    <h1>Suppliers Information</h1>

    <div class="testbox">
      <form>
        <div class="banner">
          <br />
          <input type="button" class="button" value="Upload attachmint" />
          <input type="button" class="button" value="View attachmint" />
          <input type="button" class="button" value="Remarks" />

          <br /><br /><br />
        </div>

        <table>
          <tr>
            <th>
              <div class="name-item">
                <label for="name"> Suppliers Code:</label>
                <input type="text" name="name" />
              </div>
            </th>
            <th>
              <div class="name-item">
                <label for="name">Arabic Name</label>
                <input type="text" name="name" />
              </div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="name-item">
                <label for="name">GL Branch:</label><br /><input
                  type="text"
                  name="name"
                />
              </div>
            </th>
            <th>
              <div class="name-item">
                <label for="name">Stock Branch:</label
                ><input type="text" name="name" />
              </div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="name-item">
                <label for="name">English Name</label>
                <input id="name" type="text" name="name" />
              </div>
            </th>
            <th>
              <div class="name-item">
                <label for="name"> Supplier type:</label>
                <input type="text" name="name" />
              </div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="name-item">
                <label for="name">Sup Address</label>
                <input type="text" name="name" />
              </div>
            </th>
            <th>
              <div class="name-item">
                <label for="name"> Sup/ Agent:</label>
                <input type="text" name="name" />
              </div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="name-item">
                <label for="name">Email_Address</label>
                <input type="text" name="name" />
              </div>
            </th>
            <th>
              <div class="name-item">
                <label for="name"> Reference No:</label>
                <input type="text" name="name" />
              </div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="name-item">
                <label for="name">ContactPerson</label>
                <input id="name" type="text" name="name" />
              </div>
            </th>
            <th>
              <div class="name-item">
                <label for="name">Telephones</label>
                <input type="text" name="name" />
              </div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="name-item">
                <label for="name">AccountCode</label>
                <input id="name" type="text" name="name" />
              </div>
            </th>
            <th>
              <div class="name-item">
                <label for="name">FAX:</label><br />
                <input id="name" type="text" name="name" />
              </div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="name-item">
                <label for="name">Manfufacture</label> <input type="text" />
              </div>
            </th>
            <th>
              <div class="name-item">
                <label>Sub Group's:</label> <input type="text" />
              </div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="name-item">
                <label for="name">Goods Type</label>
                <input id="name" type="text" />
              </div>
            </th>
            <th>
              <div class="name-item">
                <label> Supplier Activity:</label> <input type="text" />
              </div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="name-item">
                <label for="name">Supplier Bank</label> <input type="text" />
              </div>
            </th>
            <th>
              <div class="name-item">
                <label for="name">Supplier Category:</label>
                <input type="text" />
              </div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="name-item">
                <label> IBAN ...</label> <br /><input id="name" type="text" />
              </div>
            </th>
            <th>
              <div class="name-item">
                <label>Supplier Status:</label> <input type="text" />
              </div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="name-item">
                <label for="name">Sup Currency</label>
                <input type="text" name="name" />
              </div>
            </th>
            <th>
              <div class="name-item">
                <label for="name">Class Code</label>
                <input type="text" name="name" />
              </div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="name-item">
                <label for="name">Credit Limit</label> <br /><input
                  id="name"
                  type="text"
                />
              </div>
            </th>
            <th>
              <div class="name-item">
                <label for="name">Credit Period:</label> <input type="text" />
              </div>
            </th>
            <th>
              <div><label>VAT No:</label> <input type="text" /></div>
            </th>
          </tr>
          <br />
          <br />
          <input type="checkbox" /><label>IsVAT</label>
          <input type="checkbox" /><label>Active</label>
          <input type="checkbox" /><label>CashPayDisc</label>
          <input type="checkbox" /><label>Need P.O</label>
        </table>
      </form>
    </div>
  </body>
</html>
