<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />

<div class="subnav">
    <button class="subnavbtn">File<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
        <a href="#option">Relogin with another user </a>
        <br />
        <br />
        <a href="#option1">Parameters</a>
        <br />
        <br />
        <a href="#option2">Open Drawer</a>
        <br />
        <br />
        <a href="#option3">Printer setup</a>
        <br />
        <br />
        <a href="#option4">Exit</a>
    </div>
</div>

<div class="subnav">
    <button class="subnavbtn">Edit<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
        <a href="#option">Cut </a>
        <br />
        <br />
        <a href="#option">Copy</a>
        <br />
        <br />
        <a href="#option">Paste</a>
        <br />
        <br />
        <a href="#option">Toolbar</a>
        <br />
        <br />
        <a href="#option">Status Bar</a>
        <br />
        <br />
        <a href="#option">Change to Arabic</a>
    </div>
</div>

<div class="subnav">
    <button class="subnavbtn">Profile<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
        <a href="#option">Machines </a>
        <br />
        <br />
        <a href="#option">Periods</a>
        <br />
        <br />
        <a href="#option">Key Definition</a>
        <br />
        <br />
        <a href="#option">Expenses and Incomes Types</a>
        <br />
        <br />
        <a href="#option">Customer Que</a>
    </div>
</div>

<div class="subnav">
    <button class="subnavbtn">
        Transactions<i class="fa fa-caret-down"></i>
    </button>
    <div class="subnav-content">
        <a href="#option">Sales Invoice </a>
        <br />
        <br />
        <a href="#option">Return Sales</a>
        <br />
        <br />
        <a href="#option">Resturn sales without invoice</a>
        <br />
        <br />
        <a href="#option">Updating Sales Invoce</a>
        <br />
        <br />
        <a href="#option">Updating Resturn Sales</a>
        <br />
        <br />
        <a href="#option">Attrndance</a>
        <br />
        <br />
        <a href="#option">Leave</a>
    </div>
</div>

<div class="subnav">
    <button class="subnavbtn">Journals<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
        <a href="#option">Sales Journals </a>
        <br />
        <br />
        <a href="#option">Return Sales Journals</a>
    </div>
</div>

<div class="subnav">
    <button class="subnavbtn">Posting<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
        <a href="#option">End of Period Closing </a>
        <br />
        <br />
        <a href="#option">End of Day Closing</a>
        <br />
        <br />
        <a href="#option">Post Attendances</a>
    </div>
</div>

<div class="subnav">
    <button class="subnavbtn">Reports<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
        <a href="#option">X-Report </a>
        <br />
        <br />
        <a href="#option">Printing Sales Receipt</a>
        <br />
        <br />
        <a href="#option">Printing Return Sales</a>
        <br />
        <br />
        <a href="#option">Query Items on branch</a>
        <br />
        <br />
        <a href="#option">Query Item(Unit)</a>
        <br />
        <br />
        <a href="#option">Check Unclosed Days/Periods</a>
        <br />
        <br />
        <a href="#option">Check Payments</a>
        <br />
        <br />
        <a href="#option">Customer Transaction</a>
    </div>
</div>

<div class="subnav">
    <button class="subnavbtn">Maintenance<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
        <a href="#option">Groups </a>
        <br />
        <br />
        <a href="#option">Users</a>
        <br />
        <br />
        <a href="#option">Changing The Password</a>
        <br />
        <br />
        <a href="#option">Rebuilding Index</a>
    </div>
</div>

<div class="subnav">
    <button class="subnavbtn">Window<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
        <a href="#option">Cascade </a>
        <br />
        <br />
        <a href="#option">Title</a>
        <br />
        <br />
        <a href="#option">Arrange Icons</a>
        <br />
        <br />
        <a href="#option">Title Vertical</a>
    </div>
</div>

<div class="subnav">
    <button class="subnavbtn">Help<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
        <a href="#option">About </a>
    </div>
</div>

<body>




    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>TITLE HEADING</h2>

                <h3>Inv NO</h3>
                <form action="/action_page.php" target="_blank">
                    <p> <input class="w3-input w3-padding-16 w3-border" type="text" placeholder="9 number" required
                            name="Item Name"></p>
                            <h3>Sal.Inv,No</h3>
          <p>
            <input
              class="w3-input w3-padding-16 w3-border"
              type="text"
              placeholder="9 numbers"
              required
              name="Item Name"
            />
          </p>
          <h3>Year</h3>
          <p>
            <input
              class="w3-input w3-padding-16 w3-border"
              type="number"
              placeholder="Year"
              required
              name="date"
            />
          </p>
          <h3>Branch</h3>
          <p>
            <input
              class="w3-input w3-padding-16 w3-border"
              type="text"
              placeholder="..."
              required
              name="Item Name"
            />
          </p>
          <h3>Mac No</h3>
          <p>
            <input
              class="w3-input w3-padding-16 w3-border"
              type="text"
              placeholder="numbers"
              required
              name="Item Name"
            />
          </p>
                </form>
            </div>
            <div class="card">
                <p>Customer Information insert:</p>
                <form action="/action_page.php" target="_blank">
                    <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Item Name" required
                            name="Item Name"></p>
                    <p><input class="w3-input w3-padding-16 w3-border" type="datetime-local"
                            placeholder="Access duration" name="date" value="2020-11-16T20:00"></p>
                    <p><input class="w3-input w3-padding-16 w3-border" type="number" placeholder="Qty" required
                            name="date"></p>
                    <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Price" required
                            name="Price"></p>
                    <p><button class="w3-button" type="submit">Submit</button></p>
                </form>
                <table class=fo>
                    <tr>
                        <th>Ser</th>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Access</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Disc</th>
                        <th>Amt</th>
                        <th>Unit</th>
                        <th>SP</th>
                        <th>1Item Code</th>
                        <th> </th>
                        <th> </th>
                        <th>Price after VAT</th>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>

                </table>
            </div>
            <div class="card">
                <form action="/action_page.php" s target="_blank">
                    <table>
                        <tr>
                            <th> </th>
                            <th> </th>
                        </tr>
                        <tr>
                            <td>Total </td>
                            <td> <input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Total "
                                    required name="Total: "></td>
                        </tr>
                        <tr>
                            <td>Amount: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Amount "></td>
                        </tr>
                        <tr>
                            <td> Disc1 %: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Disc1 % "
                                    required name="Disc1 %: "></td>
                        </tr>
                        <tr>
                            <td>Saleman: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Salesman"
                                    required name="Salesman: "></td>
                        </tr>
                        <tr>
                            <td>Unit: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Unit" required
                                    name="Unit: "></td>
                        </tr>
                        <tr>
                            <td>Remark: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Remarks: ">
                            </td>
                        </tr>
                        <tr>
                            <td><label>Customer: </label> </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="customer: ">
                            </td>
                        </tr>
                    </table>

                    <p><button class="w3-button" type="submit">Submit</button></p>
                    <p>
                        <button class="w3-button" type="submit">Add Item</button>
                        <button class="w3-button" type="submit">Delete Item</button>
                        <button class="w3-button" type="submit">Edit Item Info</button>
                      </p>
                </form>
            </div>

            <div class="card">
                <form action="/action_page.php" s target="_blank">
                    <table>
                        <tr>
                            <th> </th>
                            <th> </th>
                        </tr>
                        <tr>
                            <td>Cash: </td>
                            <td> <input class="w3-input w3-padding-16 w3-border" type="text" placeholder="cash "
                                    required name="Total: "></td>
                        </tr>
                        <tr>
                            <td>Credit: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="credit "></td>
                        </tr>
                        <tr>
                            <td> Cards: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="cards "
                                    required name="Disc1 %: "></td>
                        </tr>
                        <tr>
                            <td>Net: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="net" required
                                    name="Salesman: "></td>
                        </tr>
                        <tr>
                            <td>Net of VAT: </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="net of VAT"
                                    required name="Unit: "></td>
                        </tr>
                    </table>

                    <p><button class="w3-button" type="submit">Submit</button></p>
                </form>
            </div>
            <div class="card">
                <form action="/action_page.php" s target="_blank">
                    <table>
                        <tr>
                            <th> </th>
                            <th> </th>
                        </tr>
                        <tr>
                            <td>Paid Currency </td>
                            <td> <input class="w3-input w3-padding-16 w3-border" type="text" placeholder="" ></td>
                               
                        </tr>
                        <tr>
                            <td> </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>  </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="" ></td>
                                   
                        </tr>
                        <tr>
                            <td> </td>
                            <td><input class="w3-input w3-padding-16 w3-border" type="text" placeholder=""  ></td>
                                  
                        </tr>
                    </table>

                    <p><button class="w3-button" type="submit">Submit</button></p>
                </form>
            </div>
        </div>


        <div class="rightcolumn">

            <div class="card">

                <!--                                       skitfhaaaaaaaaffff-->
                <mat-accordion>

                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Functions
                      </mat-panel-title>

                    </mat-expansion-panel-header>
                    <mat-panel-description>
                      <mat-action-row>
                        <p><button onclick="document.getElementById('menu').style.display='block'"
                            class="w3-button_dania">Discount</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Delete
                            Line</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Qty
                        </button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Repeat</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Cash</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Show
                            Total</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Card</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Items</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Save</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">discount
                            card</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Remark</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Supervisor</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Drawer</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Exit</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Unit</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Salesman</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Currency</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Balance</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Credit</button><br>
                        <button onclick="document.getElementById('contact').style.display='block'"
                            class="w3-button_dania">Find
                            Promotion</button>
                    </p>

                      </mat-action-row>


                     </mat-panel-description>
                  </mat-expansion-panel>
                </mat-accordion>

            </div>
            <div class="card">
                <h3>Follow Me</h3>
                <p>Some text..</p>
            </div>
        </div>
    </div>




    <div class="topnav">
        <p><button onclick="document.getElementById('menu').style.display='block'" class="dania">Print the last
                bill</button>
            <button onclick="document.getElementById('contact').style.display='block'" class="dania">Bill
                print</button>
            <button onclick="document.getElementById('contact').style.display='block'" class="dania">Delete
                display category </button>
            <button onclick="document.getElementById('contact').style.display='block'" class="dania">Refundable</button>
            <button onclick="document.getElementById('contact').style.display='block'" class=" dania">Credit
                cards</button>
            <button onclick="document.getElementById('contact').style.display='block'" class="dania">Previous
                revenue</button>
            <button onclick="document.getElementById('contact').style.display='block'" class="dania">Inquire
                about the price of an item</button>

        </p>
    </div>
    <div class="footer">
        <h2>Footer</h2>
    </div>



</body>