
  <link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>
  <body>
    <h1 align="center">Salesmen</h1>
      
    <div class="testbox">
     
      <form action="/">
      

  
        <div class="item">
          <table>
            <div class="name-item">
              <tr>
                <th>
                  <p>Salesmen Code:</p>
                  <input
                    type="text"
                    name="name"
                    placeholder=" Code:"
                    class="da"
                  />
                </th>
  
                <th>
                  <p>Arabic Name:</p>
  
                  <input
                    type="text"
                    name="name"
                    required
                    placeholder="Name:"
                    required
                    class="da"
                  />
                </th>
                <th>
                  <p>English Name:</p>
                  <input
                    type="text"
                    name="name"
                    required
                    placeholder=" Name:"
                    required
                    class="da"
                  />
                </th>
              </tr>
              <tr>
                <th>
                  <p>Email:</p>
                  <input
                    type="email"
                    name="name"
                    required
                    placeholder="example@gmail.com:"
                    class="da"
                  />
                </th>
  
                <th>
                  <p>Phone No:</p>
                  <input
                    type="name"
                    name="name"
                    required
                    placeholder="Number:"
                    class="da"
                  />
                </th>
  
                <th>
                  <p>Employee Code:</p>
                  <input
                    type="text"
                    name="name"
                    required
                    placeholder="Code:"
                    class="da"
                  />
                </th>
              </tr>
              <tr>
                <th>
                  <p>Salary:</p>
                  <input
                    type="number"
                    name="name"
                    required
                    placeholder="number:"
                    class="da"
                  />
                </th>
  
                <th>
                  <p>Max Discount %:</p>
                  <input
                    type="number"
                    name="name"
                    required
                    placeholder="%:"
                    class="da"
                  />
                </th>
                <th>
                  <p>Belongs to Branch:</p>
                  <input type="text" name="name" required class="da" />
                </th>
              </tr>
              <tr>
                <th>
                  <p>Account Code:</p>
                  <input type="text" name="name" required class="da" />
                </th>
  
                <th>
                  <p>Supervisor:</p>
                  <input type="text" name="name" required class="da" />
                </th>
  
                <th>
                  <p>Telephone:</p>
                  <input type="text" name="name" required class="da" />
                </th>
              </tr>
  
              <tr>
                <th>
                  <p>Main Cost Center:</p>
                  <input type="Numbers" name="name" required class="da" />
                </th>
  
                <th>
                  <p>Belongs ST. Branch:</p>
                  <input type="text" name="name" required class="da" />
                </th>
  
                <th>
                  <label
                    ><input type="checkbox" name="name" required class="da" />
                    <span>Active</span></label
                  >
                </th>
              </tr>
            </div>
  
            <div class="btn-block">
              <button type="submit" href="/">submit</button>
            </div>
          </table>
        </div>
      </form>
    </div>
  </body>